範例目標:<br>
1. 讀寫csv
2. 讀寫excel
3. 讀寫json
4. 讀寫SQL資料庫

範例重點:<br>
1. 讀寫不同檔案格式會有不同程式可以達到csv(read_csv、to_csv)、excel(read_excel、to_excel)、json(read_json、to_json)、SQL資料庫(io.sql.read_sql、to_sql)
2. 讀取進來後都是DataFrame的型態

In [1]:
import pandas as pd

In [2]:
!pip install openpyxl
!pip install XLRD

Requirement already satisfied: openpyxl in c:\programdata\anaconda3\lib\site-packages (3.0.4)
Requirement already satisfied: et-xmlfile in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.0.1)
Requirement already satisfied: jdcal in c:\programdata\anaconda3\lib\site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: XLRD in c:\programdata\anaconda3\lib\site-packages (1.2.0)

In [3]:
iris_data = pd.read_csv('iris.csv')
iris_data

FileNotFoundError: [Errno 2] File iris.csv does not exist: 'iris.csv'

In [ ]:
iris_data = pd.read_csv('iris.csv',usecols=['petal length','petal width','target'])
iris_data

In [ ]:
iris_data = pd.read_csv('iris.csv',header=0,names=['featrue1','featrue2','featrue3','featrue4','target'])
iris_data

In [ ]:
iris_data.to_csv('my_iris.csv')

In [ ]:
data = pd.read_excel('data.xls')
data

In [ ]:
boston_data = pd.read_excel('data.xls',sheet_name='boston')
boston_data

In [ ]:
boston_data = pd.read_excel('data.xls',sheet_name='boston',header=0 \
                            ,usecols=['TAX','PTRATIO','B','LSTAT'])
boston_data

In [4]:
boston_data.to_excel('my_boston.xlsx',sheet_name='boston')

NameError: name 'boston_data' is not defined

In [5]:
boston_data[:5]

NameError: name 'boston_data' is not defined

In [ ]:
import json

In [ ]:
boston_data = pd.read_json('boston.json')
boston_data

     TAX  PTRATIO       B  LSTAT
0    296     15.3  396.90   4.98
1    242     17.8  396.90   9.14
2    242     17.8  392.83   4.03
3    222     18.7  394.63   2.94
4    222     18.7  396.90   5.33
..   ...      ...     ...    ...
501  273     21.0  391.99   9.67
502  273     21.0  396.90   9.08
503  273     21.0  396.90   5.64
504  273     21.0  393.45   6.48
505  273     21.0  396.90   7.88

[506 rows x 4 columns]

In [ ]:
boston_data.to_json('boston.json')

In [ ]:
import sqlite3

In [ ]:
boston_data = pd.read_excel('data.xls',sheet_name='boston',header=0 \
                            ,usecols=['TAX','PTRATIO','B','LSTAT'])
connection = sqlite3.connect('sql_db.sqlite')
boston_data.to_sql('boston', connection, if_exists='replace')
connection.commit()
connection.close()

In [ ]:
connection = sqlite3.connect('sql_db.sqlite')
boston_data_sql = pd.io.sql.read_sql("select * from boston",connection)
connection.close()
boston_data_sql

     index  TAX  PTRATIO       B  LSTAT
0        0  296     15.3  396.90   4.98
1        1  242     17.8  396.90   9.14
2        2  242     17.8  392.83   4.03
3        3  222     18.7  394.63   2.94
4        4  222     18.7  396.90   5.33
..     ...  ...      ...     ...    ...
501    501  273     21.0  391.99   9.67
502    502  273     21.0  396.90   9.08
503    503  273     21.0  396.90   5.64
504    504  273     21.0  393.45   6.48
505    505  273     21.0  396.90   7.88

[506 rows x 5 columns]

In [ ]:
boston_data_sql

     index  TAX  PTRATIO       B  LSTAT
0        0  296     15.3  396.90   4.98
1        1  242     17.8  396.90   9.14
2        2  242     17.8  392.83   4.03
3        3  222     18.7  394.63   2.94
4        4  222     18.7  396.90   5.33
..     ...  ...      ...     ...    ...
501    501  273     21.0  391.99   9.67
502    502  273     21.0  396.90   9.08
503    503  273     21.0  396.90   5.64
504    504  273     21.0  393.45   6.48
505    505  273     21.0  396.90   7.88

[506 rows x 5 columns]